{% extends "base.html" %}

{% block content %}

{% endblock %}

{% block css %}
    <style>
    #page-wrapper{margin: 0px;}
    #content-header{display: none;}
    </style>
{% endblock %}


{% block body %}
    <h1><p class="text-center">操作成功</p></h1>
{% endblock %}

{% block js %}
    <script>
        var next_url = "{{ next_url }}";
        if (next_url == ""){
            next_url = "/"
        }
        $(function(){

            setTimeout(function(){
                window.location.href = next_url;
            }, 800)

        })
    </script>
{% endblock %}